.post-card {
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 1rem;
  color: white;
  width: 50vw;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.author-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  border: 2px solid #0073b1;
  transition: border 0.3s ease;
}

.author-image:hover {
  border: 2px solid #e1e4e8;
}

.author-info {
  display: flex;
  flex-direction: column;

}

.author-name {
  font-weight: bold;
  position: relative;
}

.author-name::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0073b1;
  transition: width 0.3s ease;
}

.author-name:hover::after {
  width: 100%;
}

.post-date {
  font-size: 0.875rem;
  color: #6c757d;
}

.post-body {
  margin-bottom: 1rem;
}

.post-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.post-description {
  font-size: 1rem;
}

.post-actions {
  margin: 0 5em;

  display: flex;
  justify-content: space-between;
}

.like-button, .comment-button, .share-button, .fast-apply-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  border-radius: 0.5rem;
  color: #0073b1;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.like-button:hover, .comment-button:hover {
  background-color: #e1e4e8;
}