nav{
    width: 100%;
    background: linear-gradient(to bottom, #e6d7bc 0%,  #e6d7ba 90%, transparent 100%);
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    padding: var(--container-padding);
    z-index: 999;
}

.logo-container{
    padding-left: 1em;
    font-size: 1.5em;
}

.logo-container img{
    width: 5rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5%;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options-container{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
a{
    text-decoration: none;
    color: #000;
}

li{
    list-style: none;
    padding: 0 1rem;
}